<div class="flex h-screen">
  <div class="w-full bg-gray-100  flex items-center justify-center">
    <div class="max-w-md w-full p-6">
      <h1 class="text-3xl font-semibold mb-6 text-black text-center">Criar conta</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="space-y-4 mb-2">
          <div class="field">
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" %>
          </div>
          <div class="field">
            <%= f.label :senha, class: "block text-sm font-medium text-gray-700" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" %>
          </div>
          <div class="field">
            <%= f.label :confirmar_senha, class: "block text-sm font-medium text-gray-700" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" %>
          </div>
          <div class="actions">
            <%= f.submit "Criar conta", class: "btn-primary w-full mt-4" %>
          </div>
        </div>
      <% end %>
      <div class="flex justify-center mt-3">
        <%= link_to "Entrar", new_session_path(resource_name), class: "text-gray-700 text-center hover:underline" %>
      </div>
    </div>
  </div>
</div>
