<!-- component -->
<nav class="flex fixed text-center justify-between h-14 px-8 bg-white shadow w-full items-center">
  <%= link_to root_path, class: "flex jusitfy-between items-center space-x-2" do %>
    <div class="logo h-10 w-10"></div>
    <h1 class="font-bold font-logo text-2xl">PsicoSimples</h1>
  <% end %>
  <div class="flex items-center space-x-5">
    <% if is_authenticated? %>
      <%= link_to "Novo post", new_blog_post_path, class: "text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2" %>
      <%# <%= link_to "Perfil", edit_therapist_registration_path, class: "text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2" %>
      <%= button_to "Sair", therapist_signed_in? ? destroy_therapist_session_path : destroy_patient_session_path, method: :delete, class: "text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2" %>
    <% else %>
      <%= link_to "Sou Terapeuta", new_therapist_session_path, class: "text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2" %>
      <div class="h-1.5 w-1.5 mx-5 rounded-full bg-teal-800"></div>
      <%= link_to "Sou Paciente", new_patient_session_path, class: "text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2" %>
    <% end %>
  </div>
</nav>
<div class="h-14"></div>
